{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <a href="{{ path('app_authenticator_pair') }}" style="text-decoration: none;">
        <button>Pair</button>
    </a>
    <a href="{{ path('app_authenticator_verify') }}" style="text-decoration: none;">
        <button>Verify</button>
    </a>
{% endblock %}
