{% extends 'base.html.twig' %}

{% block title %}Pair{% endblock %}

{% block body %}
    <img alt="QR Code" src="{{ qrCodeUri }}" />

    <form method="post">
        <input type="hidden" name="secret" value="{{ secret }}" />
        <button type="submit">Validate Pairing</button>
    </form>
{% endblock %}
